<div class="modal-container">
    <div class="modal-content">
        <div class="left-section">
            <div class="product-name"> {{product.productName}}</div>
            <!-- <div class="product-description">#</div> -->
            <div class="product-price">{{ product.discount10 ? services.selectedSizePrice * 0.9 :
                services.selectedSizePrice }} Ft</div>
            <img class="modal-image" [src]="modalService.currentImage || product.modalImagePath[0]">
            <div class="modal-image-selection-container">
                <div *ngFor="let item of product.modalImagePath">
                    <img [style.display]="contentLoaded ? 'flex' : 'none'" class="modal-image-selection" [src]="item"
                        (mouseover)="modalService.changeMainImage(item)" alt="Image">
                    <ngx-skeleton-loader *ngIf="!contentLoaded" appearance="line"
                        [theme]="{ width: '50px', height: '50px', margin: '3px' }"></ngx-skeleton-loader>

                </div>
            </div>
        </div>
        <div class="right-section">
            <div class="composition-container">
                <div class="composition-description" *ngIf="modalService.screenWidth > 700
                    ">
                    <p class="comp-desc-p">Keret: {{product.composition.frame}} </p>
                </div>
                <div class="composition-description" *ngIf="modalService.screenWidth > 700
                    ">
                    <p class="comp-desc-p">Lencse: {{product.composition.lens}} </p>
                </div>
                <div class="composition-description" [ngStyle]="{ 'display': 'block' }"
                    (click)="modalService.showDetails()">
                    <p class="comp-desc-p">Termékjellemző:
                        <i class="mobile-comp-desc-i" *ngIf="modalService.screenWidth <= 700
                        ">Kattintson a részletekért!</i>
                    <div class="comp-desc-p-details" *ngIf="modalService.screenWidth > 700
                        ">
                        {{product.description}}
                    </div>
                </div>
            </div>
            <div class="cart-btn" *ngIf="modalService.screenWidth > 700
                " (click)="modalService.addToCart(product)">
                Hozzáadás a kosárhoz</div>
            <div class="cart-btn" *ngIf="modalService.screenWidth <= 700
            " (click)="modalService.addToCart(product)">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        <app-custom-exit-button (click)="modalService.closeModal()"></app-custom-exit-button>
        <div *ngIf="modalService.showDetailsBox && modalService.screenWidth <= 700
        " class="mobile-comp-desc-details-container">
            <div class="mobile-comp-desc-details">
                <p class="mobile-comp-desc-p"><span>Keret: </span> {{product.composition.frame}}</p>
                <p class="mobile-comp-desc-p"><span>Lencse: </span> {{product.composition.lens}} </p>
                <p class="comp-desc-p">Termékjellemző: </p> {{product.description}}
                <button class="close-comp-desc-details-btn" (click)="modalService.showDetails()"><i
                        class="fal fa-times close-icon"></i></button>
            </div>
        </div>
    </div>
</div>