.body {
    width: calc(100% - 5rem);
    height: 100%;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background-attachment: fixed;

    @media screen and (max-width:700px) {
        margin-left: 0rem;
    }
}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.body-mobile-closed {
    width: calc(100%);
    margin-left: 0rem;
}

@media screen and (min-width: 1080px) {
    .body {
        padding: 1rem 1rem 0.25rem 1rem;
    }
}