<div class="product-container" *ngIf="productService.isWomanChecked === true">
    <div class="product-card-container">
        <div class="product-card" *ngFor="let item of productService.womanFragrances$ | async "
            (click)="productService.openModal(item)" (mouseover)="productService.mouseOver(item)"
            (mouseleave)="productService.mouseLeave(item)">
            <div class="product-card-head"> {{item['brand']}} <p class="brand-name">{{item['brandName']}}</p>
                <p class="scent">{{item['scent']}}</p>
            </div>
            <div class="main-image-container">
                <img class="main-image" [src]="item['imagePath']">
            </div>
            <div class="product-card-price">{{ item['type'][0].price }}
                <p class="tol">Ft-tól</p>
            </div>
        </div>
    </div>
</div>