.shopping-cart-card-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    user-select: none;


    .shopping-cart-card {
        padding: 10px;
        position: relative;
        width: auto;

        .cart-item {
            color: aliceblue;
            border-radius: 10px;
            background-color: #1C202B;
            flex: 1;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            margin-bottom: 5px;
            position: relative;
            gap: 10px;
            margin: 0px 0 0 0;
            min-width: 600px;
            width: auto;
            height: 170px;
            margin-bottom: 20px;

            .pc-screen {

                .shopping-cart-head {
                    font-size: 20px;
                    position: absolute;
                    top: 5px;
                    left: calc(0px + 150px);
                }

                .brand-name {
                    position: absolute;
                    top: 25px;
                    font-size: 17px;
                    left: calc(0px + 150px);

                }
            }

            .img-background {
                width: 140px;
                height: 100%;
                background-color: white;
                position: absolute;
                overflow: hidden;
                z-index: 2;
                border-radius: 10px;
            }

            .product-image {
                z-index: 3;
                width: 140px;
                background-color: white;
                height: auto;
                border-radius: 5px;
                margin-right: 10px;
                overflow: hidden;
                border: 10px;
            }

            .shopping-cart-price {
                font-size: 18px;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }

            .buttons {
                justify-content: center;
                align-items: center;
                display: flex;
                gap: 5px;
                position: absolute;
                left: 145px;
                bottom: 10px;

                .product-quantity {
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    color: aliceblue;
                    font-size: 14px;
                }

                .decreaseQuantity {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin: 0 5px;
                    border-radius: 50%;
                    padding: 10px;
                    border: 1px solid #a5beda;
                    cursor: pointer;
                    color: aliceblue;
                    transition: all .5s ease;

                    &:hover {
                        filter: brightness(150%);
                    }

                    &:active {
                        background-color: #ffffff;
                    }

                    .fa-minus,
                    .fa-plus {
                        font-size: 14px;
                    }
                }

                .increaseQuantity {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin: 0 5px;
                    border-radius: 50%;
                    padding: 10px;
                    border: 1px solid #a5beda;
                    cursor: pointer;
                    color: aliceblue;
                    transition: all .5s ease;

                    &:hover {
                        filter: brightness(150%);
                    }

                    &:active {
                        background-color: #ffffff;
                    }

                    .fa-minus,
                    .fa-plus {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .shopping-cart-card-container {
        display: flex;
        margin: 0px;
        gap: 0px;
        width: auto;

        .shopping-cart-card {
            padding: 15px 10px 15px 0px;
            margin-left: 0px;

            .cart-item {
                gap: 2px;
                margin: 10px 0 0 0;
                width: 95vw;
                height: 140px;
                min-width: 0px;

                .mobile-screen {

                    .shopping-cart-head {
                        font-size: 14px;
                        margin-left: 5px;
                        position: absolute;
                        top: 5px;
                        left: calc(0px + 105px);
                    }

                    .brand-name {
                        margin-left: 5px;
                        position: absolute;
                        top: 20px;
                        font-size: 12px;
                        left: calc(0px + 105px);

                    }
                }

                .buttons {

                    left: 0;
                    bottom: 0;

                    .product-quantity {
                        font-size: 14px;
                        position: absolute;
                        left: 144px;
                        bottom: 13px;
                    }

                    .decreaseQuantity {
                        width: 25px;
                        height: 25px;
                        font-size: 10px;
                        padding: 0px;
                        margin: 10px;
                        position: absolute;
                        left: 100px;
                        bottom: 0;
                    }

                    .increaseQuantity {
                        width: 25px;
                        height: 25px;
                        font-size: 10px;
                        padding: 0px;
                        margin: 10px;
                        position: absolute;
                        left: 150px;
                        bottom: 0;
                    }
                }

                .shopping-cart-price {
                    margin-left: 4px;
                    font-size: 16px;
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                }

                .removeFromCart {
                    margin-right: 2px;
                    margin-left: 5px;
                    margin-right: 5px;
                    // font-size: 12px;
                }

                .img-background {
                    // max-width: 80px;
                    // max-height: 80px;
                    width: 100px;
                    height: 140px;
                    overflow: hidden;
                }

                .product-image {
                    margin-right: 0px;
                    width: auto;
                    height: auto;
                    max-height: 100px;
                    overflow: hidden;
                }
            }
        }
    }
}


/*Empty cart*/
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.empty-cart-img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -22%);
    width: 100%;
    max-width: 600px;
    display: flex;
    overflow: hidden;
}

.empty-cart-desc {
    text-align: center;
    position: absolute;
    width: 300px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 26px;
    font-weight: 300;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.empty-cart-button {
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 100;
}

.empty-cart-button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #191818;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.empty-cart-button:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 500px) {
    .empty-cart-desc {
        top: 41%;
        left: 50%;
    }

    .empty-cart-button {
        top: 48%;
        left: 50%;
        font-size: 22px;
    }
}

/*Empty cart end*/
.bonus .bonus-desc {
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    margin-top: 15px;
    width: auto;
}

.insurance,
.gift,
.bonus,
.shipping {
    font-size: 15px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.checkout-container-desc {
    font-size: 13px;
    margin-top: 15px;
    opacity: 0.5;
    width: 100%;
}

.shipping h3 {
    opacity: 1;
}

h3 {
    float: right;
    opacity: 0.5;
    font-weight: 800;
}

h3.active {
    opacity: 1;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
}

.slide-text {
    font-size: 15px;
    margin-left: 5px;
}

.common {
    width: 100%;
    background-color: blue;
}

mat-slide-toggle {
    padding-left: 0px;
}

.checkout-container {
    background-color: #f4f7fa;
    padding: 10px;
    border-radius: 0.625rem;
    height: 100%;
    display: grid;
    position: relative;
    max-width: 1000px;

    .checkout-card {
        padding-top: 20px;

        .total-price h3 {
            opacity: 1;
            font-size: 18px;
            font-weight: 200;

            p {
                font-weight: 800;
                float: right;
                top: 0px;
                margin-left: 40px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .checkout-container {
        padding: 8px;

        p {
            max-width: 100%;
        }

        .insurance,
        .gift,
        .bonus,
        .shipping {
            font-size: 14px;
            margin-top: 20px;
            padding-top: 10px;

            @media screen and (max-width: 340px) {
                font-size: 12px;
            }
        }

        h3 {
            margin-top: -4px;
        }

        .btn-hover {
            float: right;
        }

        .checkout-card {
            .total-price h3 {
                width: 100%;
                font-size: 16px;
            }
        }
    }
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    background-color: #1C202B;
    color: white;
    cursor: pointer;
    margin-left: auto;
    height: 55px;
    text-align: center;
    border-radius: 0.625rem;
    transition: all 0.5s ease;
}

.btn-hover:hover {
    color: white;
    background-color: #12151d;
}