<div class="remove-item-container">
    <div class="remove-item">
        <h1 class="remove-item-header">Termék eltávolítása a kosárból</h1>
        <h2 class="remove-item-desc">Valóban eltávolítja a(z) <span class="item-name"> "{{product.product.brand}}
                {{product.product.brandName}}"</span> terméket a kosárból? </h2>
        <app-custom-remove-button (click)="cartService.removeFromCart(product)"
            (click)="modalService.closeModal()"></app-custom-remove-button>
        <app-custom-keep-button [text]="customKeepText" (click)="modalService.closeModal()"></app-custom-keep-button>
        <img class="product-image" [src]="product.selectedImage || product.product.imagePath">
        <app-custom-exit-button (click)="modalService.closeModal()">
        </app-custom-exit-button>
    </div>
</div>