.setting-btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #1C202B;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    margin-top: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.bar {
    width: 50%;
    height: 2px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
}

.bar::before {
    content: "";
    width: 2px;
    height: 2px;
    background-color: #1C202B;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.3s;
}

.bar1::before {
    transform: translateX(-4px);
}

.bar2::before {
    transform: translateX(4px);
}

.setting-btn:hover .bar1::before {
    transform: translateX(4px);
}

.setting-btn:hover .bar2::before {
    transform: translateX(-4px);
}