.a-remove-brightness {
    animation: removeBrightness 1s ease forwards;
}

.a-delayed {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.5s;
}

.a-first-text {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
    pointer-events: none;
}

.a-second-text {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

.a-third-text {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 2s;
}

@keyframes delay-pointer-events {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        pointer-events: auto;
        opacity: 1;
    }
}

@keyframes removeBrightness {
    from {
        filter: brightness(90%);
    }

    to {
        filter: brightness(10%);
    }
}


@keyframes addBlur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(10px);
        /* You can adjust the amount of blur as needed */
    }
}


.dashboard-container {
    background-color: #EAE7E6;

    .commercial-container {

        .brand-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .brand-text {
                font-size: 20px;
                background: #1C202B;
                color: white;
                border-radius: 0.625rem;
                margin: 40px 0 20px 0;
                height: auto;
                font-size: 20px;
                font-weight: bold;
                padding: 20px 40px;
                user-select: none;
            }

            .brands {
                background-color: transparent;
                height: 100px;
                margin-top: 10px;
                width: auto;
                overflow: hidden;
                color: white;
                justify-content: space-between;

                .dior,
                .jpg,
                .lancome,
                .hawkers {
                    transition: all 0.3s;
                    cursor: pointer;
                    height: 100px;
                    filter: brightness(150%);
                }

                .dior:hover,
                .jpg:hover,
                .lancome:hover,
                .hawkers:hover {
                    filter: brightness(250%);
                }
            }
        }

        .fragrances-text {
            text-align: center;
            font-size: 20px;
            width: auto;
            margin: 10px auto;
            margin-top: 40px;
            background: #1C202B;
            color: white;
            border-radius: 0.625rem;
            height: auto;
            font-size: 20px;
            font-weight: bold;
            padding: 20px 40px;
            user-select: none;
        }

        .commercial-first {
            display: flex;
            justify-content: center;
            position: relative;
            text-align: end;

            .first-text-button-container {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 20;

                .first-text {
                    font-family: Outfit, sans-serif;
                    display: block;
                    position: absolute;
                    right: 2%;
                    overflow: hidden;
                    top: 10%;
                    font-weight: 900;
                    font-size: clamp(22px, 4vw, 50px);
                    color: white;
                    line-height: 70px;
                    max-width: 600px;
                    text-shadow: 2px 2px 2px #333;
                }

                .first-text-button {

                    display: flex;
                    position: absolute;
                    bottom: 10%;
                    right: 2%;
                    font-weight: 900;
                    font-size: 22px;
                    cursor: pointer;
                    padding: 15px 30px;
                    border: 1px solid white;
                    background: white;
                    color: black;
                    transition: 0.2s ease;

                    &:hover {
                        background: transparent;
                        color: white;
                    }

                }
            }

            .commercial-img {
                margin-top: 10px;
                max-width: 100%;
                width: 100%;
                overflow: hidden;
                filter: brightness(50%);
                transition: all 0.5s ease;
                border-radius: 0.625rem;
            }
        }

        /* ------------- SECOND SIDE -------------- */


        .commercial-second-container-1 {
            display: flex;
            justify-content: space-around;
            width: 100%;
            user-select: none;

            .image-container-1,
            .image-container-2 {
                width: 50%;
                position: relative;

                app-custom-button {
                    opacity: 0;
                    transition: all .5s ease;
                }

                @keyframes delay-pointer-events {
                    0% {
                        pointer-events: none;
                    }

                    50% {
                        pointer-events: none;

                    }

                    100% {
                        pointer-events: auto;
                    }
                }

                &:hover {
                    app-custom-button {
                        animation: delay-pointer-events 1s;
                        transition-delay: 0.5s;
                        opacity: 1;
                    }
                }

                .common-text-2-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-transition: all 500ms ease-out;
                    -moz-transition: all 500ms ease-out;
                    -o-transition: all 500ms ease-out;
                    -ms-transition: all 500ms ease-out;
                    transition: all 500ms ease-out;
                    transition-delay: 0.05s;
                    opacity: 0;
                    width: 100%;
                    height: 99.3%;
                    padding: 0px;
                    border-radius: 0.625rem;

                    &:hover {
                        opacity: 1;
                        background-color: rgba(0, 0, 0, 0.699);
                    }

                    .second-text-1,
                    .second-text-2 {
                        z-index: 100;
                        color: white;
                        font-size: 14px;
                        font-style: italic;
                        margin: 15px;
                        position: absolute;
                        top: 35%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        opacity: 1;
                        filter: brightness(100%);

                        app-custom-button {
                            width: auto;
                            margin: 0 auto;
                        }
                    }
                }

                .commercial-second-img-1,
                .commercial-second-img-2 {
                    width: 100%;
                    height: auto;
                    max-height: 100%;
                    transition: all 0.5s ease;


                }

                .commercial-second-img-1 {
                    border-top-left-radius: 0.625rem;
                    border-bottom-left-radius: 0.625rem;
                }

                .commercial-second-img-2 {
                    border-top-right-radius: 0.625rem;
                    border-bottom-right-radius: 0.625rem;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .dashboard-container {

        .commercial-container {

            .brand-container {
                // text-align: center;
                // display: flex;
                // flex-direction: column;
                // align-items: center;


                .brand-text {
                    font-size: 15px;
                }

                .brands {
                    height: auto;
                    justify-content: center;
                    align-items: center;

                    .dior,
                    .jpg,
                    .lancome,
                    .hawkers {
                        transition: all 0.3s;
                        cursor: pointer;
                        height: 100px;
                        display: flex;
                        width: 200px;
                    }
                }
            }

            .commercial-first {


                .first-text-button-container {
                    .first-text {
                        max-width: 230px;
                        line-height: 38px;
                        max-width: 300px;
                    }

                    .first-text-button {
                        font-size: 16px;
                        padding: 7px 13px;
                        bottom: 25%;
                        bottom: 5%;
                    }
                }


                .commercial-img {
                    width: 100%;
                    margin-top: 0px;
                    filter: brightness(50%);
                }
            }

            .brand-container {
                .fragrances-text {
                    font-size: 15px;
                }
            }

            .commercial-second-container-1 {
                display: block;

                .image-container-1,
                .image-container-2 {
                    .common-text-2-container {

                        width: 200%;

                        .second-text-1,
                        .second-text-2 {
                            top: 10%;
                            font-size: 12px;
                            overflow: auto;
                        }
                    }

                    .commercial-second-img-1,
                    .commercial-second-img-2 {
                        width: 200%;
                        height: auto;
                        max-height: auto;
                        transition: border 0.5s ease;
                        border-radius: 0.625rem;

                        &:hover {
                            border-radius: 0.625rem;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .commercial-first {

        .first-text-button-container {

            .first-text-button {
                font-size: 10px;
                padding: 7px 13px;
                bottom: 25%;
            }

            .first-text {
                max-width: 230px;
                line-height: 38px;
            }
        }
    }
}

// button {
//     margin-top: 40px;
//     z-index: 2;
//     color: white;
//     display: block;
//     width: fit-content;
//     height: auto;
//     outline: none;
//     border: none;
//     background-color: inherit;
//     font-size: 20px;
//     font-weight: bold;
//     position: absolute;
//     left: 0;
//     cursor: pointer;
// }


@media screen and (max-width: 1080px) {
    .dashboard-container {
        .commercial-container {
            .commercial-first {
                .commercial-img {
                    border-radius: 0rem;
                    transition: all 0.5s ease;
                }
            }

            .commercial-second-container-1 {

                .image-container-1,
                .image-container-2 {

                    .commercial-second-img-1,
                    .commercial-second-img-2 {
                        border-radius: 0rem;
                    }

                    .common-text-2-container {
                        border-radius: 0rem;

                        .second-text-1,
                        .second-text-2 {
                            border-radius: 0rem;
                        }
                    }
                }
            }
        }
    }
}