.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.empty-cart-img {
    position: relative;
    margin: 0 auto;
    width: 90px;
    display: flex;
    overflow: hidden;
}

.empty-cart-desc {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.empty-cart-button {
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 100;
}

.empty-cart-button:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #191818;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.empty-cart-button:hover:after {
    width: 100%;
    left: 0;
}