$main-color: #1C202B; //#041720

.sidenav {
    background: $main-color;
    user-select: none;
    transition: all .5s ease;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 5rem;
    //width: 16.5625rem;
    height: 100vh;
    //box-shadow: 0.0415rem 0 0.35rem 0 #3f3f3f;

    @media screen and (max-width:700px) {
        width: 0rem;
    }


    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;


        .logo {
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;

            .fa-bars {
                color: #000;
            }

        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                color: #fff;
                font-size: 24px;
            }
        }
    }

}

.sidenav-closed-mobile {

    width: 0rem;
    transition: .5s ease;

    .logo-container {
        display: flex;

        .logo {
            display: none;
        }
    }

    .sidenav-nav {
        display: none;
    }

}

.sidenav-opened-mobile {
    width: 16.5625rem;
    transition: .5s ease;

    .logo-container {
        display: flex;

        .logo {
            display: block;
        }

    }

    .sidenav-nav {
        display: flex;
    }
}

.sidenav-collapsed {
    width: 16.55625rem;
}


.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;


    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;


        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .cart-badge {
                position: fixed;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #000;
        }
    }
}


.sidenav-nav-mobile {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;


    .sidenav-nav-item-mobile {
        width: 100%;
        margin-bottom: 0.625rem;


        .sidenav-nav-link-mobile {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #fff;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .cart-badge {
                position: fixed;
            }

            .sidenav-link-text {
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item-mobile:active {
        .sidenav-nav-link-mobile {
            background-color: #fff;
            color: black;
        }
    }
}


.mobile-active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: black;
    }
}

.active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text {
        color: #000;
    }
}

.sidenav-link-close-container {

    .sidenav-link-close {
        color: #f3f3f3;
        font-size: 25px;
        margin-top: 20px;
        z-index: 5;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.sidenav-link-open {
    cursor: pointer;
    border: 1px solid #fff;
    position: fixed;
    color: #e9e9e9;
    font-size: 35px;
    bottom: 5px;
    left: 5px;
    z-index: 5;
    background-color: $main-color;
    padding: 10px;
    border-radius: 50%;
}