@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

html {
    scroll-behavior: smooth;

    --mdc-filled-text-field-caret-color: #1C202B;
    --mdc-filled-text-field-focus-active-indicator-color: #1C202B;
    --mdc-filled-text-field-focus-label-text-color: #1C202B;

    --mdc-filled-text-field-container-color: #ffffff; //háttér
    --mdc-filled-text-field-disabled-container-color: #091246;
    --mdc-filled-text-field-label-text-color: rgba(0, 0, 0, 0.6);
    --mdc-filled-text-field-disabled-label-text-color: rgba(0, 0, 0, 0.38);
    --mdc-filled-text-field-input-text-color: rgba(0, 0, 0, 0.87);
    --mdc-filled-text-field-disabled-input-text-color: rgba(0, 0, 0, 0.38);
    --mdc-filled-text-field-input-text-placeholder-color: rgba(0, 0, 0, 0.6);
    --mdc-filled-text-field-error-focus-label-text-color: #f44336;
    --mdc-filled-text-field-error-label-text-color: #f44336;
    --mdc-filled-text-field-error-caret-color: #f44336;
    --mdc-filled-text-field-active-indicator-color: rgba(0, 0, 0, 0.42);
    --mdc-filled-text-field-disabled-active-indicator-color: rgba(0, 0, 0, 0.06);
    --mdc-filled-text-field-hover-active-indicator-color: rgba(0, 0, 0, 0.87);
    --mdc-filled-text-field-error-active-indicator-color: #f44336;
    --mdc-filled-text-field-error-focus-active-indicator-color: #f44336;
    --mdc-filled-text-field-error-hover-active-indicator-color: #f44336;
}

.bold-text:first-child {
    font-weight: bold;
}

.scrollable-container {}

.row {
    display: flex;
    gap: 15px;
}


html,
body {
    height: 100%;
    background: #EAE7E6;
    font-family: oswald, sans-serif;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.ngx-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: fixed;
    width: 100%;
}

.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #1C202B;
    --mdc-switch-selected-handle-color: #1C202B;
    --mdc-switch-selected-hover-state-layer-color: #1C202B;
    --mdc-switch-selected-pressed-state-layer-color: #1C202B;
    --mdc-switch-selected-focus-handle-color: #1C202B;
    --mdc-switch-selected-hover-handle-color: #1C202B;
    --mdc-switch-selected-pressed-handle-color: #1C202B;
    --mdc-switch-selected-focus-track-color: #1C202B;
    --mdc-switch-selected-hover-track-color: #1C202B;
    --mdc-switch-selected-pressed-track-color: #1C202B;
    --mdc-switch-selected-track-color: #1C202B;
}


.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-checkmark-color: white;
    --mdc-checkbox-selected-hover-icon-color: #1C202B;
    --mdc-checkbox-selected-icon-color: #1C202B;
    --mdc-checkbox-selected-focus-icon-color: #1C202B;
    --mdc-checkbox-selected-pressed-icon-color: #1C202B;
    --mdc-checkbox-disabled-selected-checkmark-color: rgba(0, 0, 0, 0.18);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.1);

    --mdc-checkbox-selected-focus-state-layer-color: transparent;
    --mdc-checkbox-unselected-focus-state-layer-color: transparent;
    --mdc-checkbox-selected-hover-state-layer-color: rgba(0, 0, 0, 1);
    --mdc-checkbox-selected-pressed-state-layer-color: transparent;
    --mdc-checkbox-unselected-pressed-state-layer-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #1C202B;
}

::-webkit-scrollbar-thumb:hover {
    background: #041720;
}

mat-form-field {
    width: 100%;
}

.screen-width {
    overflow: hidden;
}

.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}