.modal-container {
    background-color: rgba(0, 0, 0, 0.5); // Példa hátteret halványító színre
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    transition: all .5s ease;
    height: 100%;
    z-index: 20;

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Példa árnyék
        width: 900px;
        height: 95%;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 21;

        .left-section {
            width: 66.6%;

            .product-name {
                font-size: 24px;
                padding-bottom: 10px;
                color: #333;
                border-bottom: 1px solid #aeaeae;
            }

            .product-price {
                font-size: 16px;
                color: #666;
            }

            .product-description {
                font-size: 14px;
                color: #333;
            }

            .modal-image {
                max-width: 360px;
                max-height: 360px;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 33%;
                transform: translate(-50%, -50%);
                user-select: none;

            }

            .modal-image-selection-container {
                flex-direction: row;
                display: flex;
                overflow-x: scroll;
                width: calc(100% - 35%);
                bottom: 0;
                position: absolute;

                .modal-image-selection {
                    max-height: 70px;
                    width: auto;
                    height: auto;
                    margin-left: 15px;
                    cursor: pointer;
                }
            }
        }

        .right-section {
            background-color: #1C202B;
            position: absolute;
            right: 0;
            top: auto;
            bottom: 0;
            height: 100%;
            width: 33.3%;
            padding: 5px;

            .composition-container {

                .composition-description:nth-child(-n+6) {
                    display: flex;
                    color: white;
                }

                .composition-description:nth-child(5) {
                    color: white;
                }

                .comp-desc-p {
                    margin-right: 5px;
                    color: white;

                    .mobile-comp-desc-i {
                        color: white;
                    }
                }

                .comp-desc-p-details {
                    color: white;
                }
            }

            .cart-btn {
                position: absolute;
                background-color: white;
                right: 10px;
                bottom: 10px;
                font-size: 10px;
                font-size: 14px;
                padding: 10px 22px;
                cursor: pointer;
                transition: ease 0.4s;
                user-select: none;
                color: #333;



                &:hover {
                    background-color: rgb(209, 209, 209);
                }

                &:active {
                    background-color: rgb(172, 172, 172);
                    color: black;

                }
            }

            .item-color-buttons-container {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                position: absolute;
                margin-left: 5px;
                top: 50%;
                user-select: none;
                text-align: center;

                .item-color-buttons {
                    border: 1.5px solid #aeaeae;
                    display: flex;
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 90px;
                    height: 40px;
                    background-color: white;
                    cursor: pointer;
                    border-radius: 3px;
                    transition: ease 0.2s;
                    font-weight: 500;
                    color: #333;
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    &:hover {
                        background-color: rgb(209, 209, 209);
                    }

                    &:active {
                        border: 1.2px solid #333;
                        background-color: rgb(172, 172, 172);
                        color: black;
                    }
                }
            }

            .item-size-buttons-container {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-left: 5px;
                position: absolute;
                top: 60%;
                user-select: none;
                text-align: center;

                .item-size-buttons {
                    border: 1.5px solid #aeaeae;
                    display: flex;
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 90px;
                    height: 40px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    cursor: pointer;
                    border-radius: 3px;
                    transition: ease 0.2s;
                    font-weight: 500;
                    color: #333;

                    &:hover {
                        background-color: rgb(209, 209, 209);
                    }

                    &:active {
                        border: 1.2px solid #333;
                        background-color: rgb(172, 172, 172);
                        color: black;
                    }
                }
            }
        }
    }
}

.mobile-comp-desc-details-container {
    position: fixed;
    width: 95%;
    height: 95%;
    z-index: 2;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8); // Példa hátteret halványító színre

    .mobile-comp-desc-details {
        background-color: #fff;
        width: 100%;
        height: 90%;
        position: absolute;
        bottom: 0;
        padding: 15px;
        border-radius: 5px;

        .comp-desc-p {
            font-weight: 800;


        }


        .mobile-comp-desc-p {
            border-bottom: 1px solid #ececec;
            padding-bottom: 10px;

            span {
                font-weight: 800;
            }
        }
    }

    .close-comp-desc-details-btn {
        background-color: rgb(255, 0, 0);
        color: white;
        position: fixed;
        top: 10%;
        right: 0;
        font-size: 15px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        overflow-x: visible;
    }
}

@media screen and (max-width: 550px) {
    .modal-container {
        width: calc(100% - 0rem);
        margin-left: 0rem;

        .modal-content {
            padding: 0px;
            width: 95%;
            height: 95%;
            top: 0px;

            .left-section {
                width: 100%;
                z-index: 1;
                position: absolute;
                height: 65%;

                .product-name {
                    font-size: 14px;
                    padding: 10px 0 5px 5px;
                }

                .product-price {
                    margin-left: 8px;
                    font-size: 15px;
                }

                .product-description {
                    font-size: 14px;
                    margin-left: 8px;
                    display: none;
                }

                .modal-image {
                    max-width: 60%;
                    max-height: 60%;
                    position: absolute;
                    //
                    width: auto;
                    height: auto;
                    overflow: hidden;
                    top: 50%;
                    left: 50%;
                }

                .modal-image-selection-container {
                    left: 0;
                    width: 100%;
                    padding: 0px; // Vagy más térköz, amit szeretnél hozzáadni
                    box-sizing: border-box;
                    overflow-x: auto;

                    .modal-image-selection {
                        max-height: 50px;
                        margin-left: 5px;
                    }
                }
            }

            .right-section {
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                overflow: hidden;
                height: 35%;

                .composition-container {

                    .composition-description:nth-child(1),
                    :nth-child(2),
                    :nth-child(3),
                    :nth-child(4) {
                        display: none;
                    }

                    .composition-description:nth-child(5) {
                        display: flex;
                        margin-top: 15px;

                        .comp-desc-p-details {
                            display: none;
                        }
                    }

                    .comp-desc-p {
                        margin-right: 5px;
                    }
                }

                .cart-btn {
                    right: 10px;
                    bottom: 10px;
                    padding: 10px 30px;
                }

                .item-size-buttons-container {
                    position: relative;
                    top: 5%;
                    left: 10px;
                }

                .item-color-buttons-container {
                    position: relative;
                    top: 0%;
                    left: 10px;
                }
            }

            .close-comp-desc-details-btn {
                background-color: rgb(255, 0, 0);
                color: white;
                position: absolute;
                top: -10px;
                right: -10px;
                font-size: 13px;
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                z-index: 100;

            }
        }
    }
}

@media screen and (min-width:550px) and (max-width: 700px) {
    .modal-container {
        width: calc(100% - 0rem);
        margin-left: 0rem;

        .modal-content {
            width: 100%;
            margin: 0px 10px 0px 10px;
            height: 95%;

            .left-section {
                .product-name {
                    font-size: 18px;
                }

                .product-price {
                    font-size: 16px;
                }

                .product-description {
                    font-size: 14px;
                }

                .modal-image {
                    max-width: 300px;
                    max-height: 300px;
                }

                .modal-image-selection-container {
                    .modal-image-selection {
                        max-height: 60px;
                    }
                }
            }

            .right-section {

                .composition-container {

                    .composition-description:nth-child(1),
                    :nth-child(2),
                    :nth-child(3),
                    :nth-child(4) {
                        display: none;
                        color: white;
                    }

                    .composition-description:nth-child(5) {
                        color: white;
                        display: flex;
                        margin-top: 15px;

                        .comp-desc-p-details {
                            display: none;
                        }

                        .mobile-comp-desc-p {
                            color: white;
                            cursor: pointer;
                        }
                    }

                    .comp-desc-p {
                        margin-right: 5px;
                    }
                }




                .item-size-buttons-container {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    position: absolute;
                    top: 65%;
                    user-select: none;

                    .item-size-buttons {
                        border: 1.5px solid #aeaeae;
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 90px;
                        height: 40px;
                        align-items: center;
                        text-align: center;
                        background-color: white;
                        cursor: pointer;
                        border-radius: 3px;
                        transition: ease 0.2s;
                        font-weight: 500;
                        color: #333;

                        &:hover {
                            background-color: rgb(209, 209, 209);
                        }

                        &:active {
                            border: 1.2px solid #333;
                            background-color: rgb(172, 172, 172);
                            color: black;
                        }
                    }
                }
            }

            .mobile-comp-desc-details-container {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.8); // Példa hátteret halványító színre


                .mobile-comp-desc-details {
                    background-color: #fff;
                    width: 70%;
                    height: 80%;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 15px;
                    border-radius: 5px;
                }

                .close-comp-desc-details-btn {
                    background-color: rgb(255, 0, 0);
                    color: white;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    font-size: 13px;
                    width: 25px;
                    height: 25px;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index: 100;

                }
            }
        }
    }

}

@media screen and (min-width:701px) {
    .modal-container {
        .modal-content {
            margin: 0px 10px 0px 10px;
        }
    }
}