.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    transition: .5s ease;
    justify-content: center;
    border: 1px solid #1C202B;

    .button__text {
        color: #1C202B;
        font-weight: 600;
        display: flex;
    }
}

.button:hover {
    background: #f5f5f5;
    transition: .5s ease;
}